version: "3.9"

services:
  backend:
    build: ./src
    command: python manage.py runserver 0.0.0.0:8000
    working_dir: /app
    volumes:
      - ./src:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis

  frontend-student:
    build: ./frontend/app
    command: npm run dev -- --host
    working_dir: /app
    volumes:
      - ./frontend/app:/app
    env_file:
      - .env
    ports:
      - "5173:5173"
    depends_on:
      - backend

  frontend-teacher:
    build: ./frontend/admin
    command: npm run dev -- --host
    working_dir: /app
    volumes:
      - ./frontend/admin:/app
    env_file:
      - .env
    ports:
      - "5174:5174"
    depends_on:
      - backend

  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend-student
      - frontend-teacher

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

